<div class="col-lg-11">
    <div class="row maincontent">
      <div class="col-lg-12">
        <div class="bs-example bs-example-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#dancing" data-toggle="tab">Dancing</a></li>
            <li class=""><a href="#interpreter" data-toggle="tab">Interpreter</a></li>
            <li class=""><a href="#tvcinema" data-toggle="tab">TV and Cinema</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="dancing">
               • Tocando em você Jazz e sapateado para criança, Educação pela Arte, Rio de Janeiro, 2011<br><br>

• Dança de Férias Curso Intensivo de dança e apresentação, Escola Britânica, Rio de Janeiro, 2011<br><br>

• IAPA Intensivo de Língua e Arte para Estudantes Estrangeiros, Londres, 2011<br><br>

• Vibes Dance Danças Urbanas e fusão oriental, workshop para festas de despedida de

solteira e eventos para empresas, Londres, 2010<br><br>

• Wise Moves Workshops de jazz, lírico, street dance e danças orientais em escolas de ensino

médio em Londres e nas redondezas, 2010<br><br>

• Bollywood Grooves Aulas para adultos de estilos de Bollywood e Bharatanatyam, Londres, 2010<br><br>

• Hadassah Stars Workshop de dança do ventre, festa de despedida de solteira e aulas de dança

para mulheres, Londres, 2010<br><br>

• Instituto Dois Irmãos Aulas de dança indiana e street dance para criança, Rocinha, 2009 <br><br>

• JAM Escola de Dança Aulas de técnica de jazz, jazz lírico e sapateado para crianças e jovens, 

Londres, 2008, 2009<br><br>

• A Coragem de Cantar Cursos de canto com expressão corporal para adultos, Pineapple - Escola de

Dança e Workshops Corporativos, Londres, 2007 e 2008<br><br>

• Poplar Harca Street dance, jazz e teatro musical como iniciativas comunitárias de dança 

para crianças em Londres, 2007 e 2008<br><br>

• Princess Cruises Aulas de dança de teatro musical, dança de salão, jazz e street dance para 

passageiros de cruzeiros no oceano pacífico do sul, 2005 e 2006<br><br>
            </div>
            <div class="tab-pane fade" id="interpreter">
               • Bailarina no Back2Black, Cidade Das Artes, Rio de Janeiro, 2013<br><br>

• Shows de dança do ventre no Bedouin, Rio de Janeiro, 2012 e 2013<br><br>

• Bailarina no Lumina Quamar, Casa Espanha, Rio de Janeiro, 2011<br><br>

• Bailarina no Belly Bliss All Stars, Apresentações na Inglaterra, 2010<br><br>

• Bailarina e Coreógrafa com o grupo Vibes Dance, Inglaterra, 2010<br><br>

• Bailarina e Intérprete no Anil Desai’s Indian Summer no Teatro 

Brickhouse, Brick Lane, Londres, 2010<br><br>

• Bailarina no espetáculo Moulin Rouge, produtor Y.D. Promotions, Londres, 2008 e 2009<br><br>

• Bailarina no East Meets West e no India Now, Inglaterra e Suíça, 2007<br><br>

• Bailarina nas produções de Pianoman, G’day G’day, Tribute, com o produtor Grayboy Australia, 

Princess Cruises, na Austrália, em Fiji, em Nova Caledonia, 2005 e 2006<br><br>

• Intérprete no Musical Mystery Tour, temporada fixa, Sydney, Austrália, 2004 e 2005<br><br>

• Bailarina e intérprete da personagem Mary-Jane na peça Homem Aranha com o produtor 

Promotechnics, Sydney, Camberra e Turné da Costa Leste, Austrália, 2003<br><br>

• Bailarina e intérprete de diversos personagens na peça Lights Camera Chaos, produtor Fox Studios, 

Austrália, 2001 e 2002<br><br>

• Intérprete da personagem princesa Jasmine no musical The Arabian Kingdom, produtor Dragon 

Arts, em Taiwan, 1999<br><br>
            </div>
            <div class="tab-pane fade" id="tvcinema">
               • Interprete para Airbnb na campanha publicitária mundial, East Photographic, Brasil, 2014<br><br>

• Apresentação na propaganda do filme I love Kuduro, Brasil, 2013<br><br>

• Bailarina de samba na propaganda KICK para televisão australiana, Brasil, 2013<br><br>

• Exibição de vídeo no programa Bounce para televisão angolana, 2012<br><br>

• Atriz na propaganda Cricket para a televisão indianaa, SPORT Channel, 2010<br><br>

• Dança urbana e indiana em propagandas para UKTV e BBC, Inglaterra, 2009<br><br>

• Bailarina para o filme Excuse Me Please para o produtor Govinda, Inglaterra, 2008<br><br>

• Bailarina na comédia Not Going Out para a BBC1, produtora Avalon, Inglaterra, 2008<br><br>

• Bailarina na propaganda I-evolution para IPOD, Inglaterra, 2007<br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>